
﻿@using Microsoft.EntityFrameworkCore.Infrastructure
@using MyFace.Controllers
@using MyFace.Models.Database
@using MyFace.Models.View
=======
﻿@using MyFace.Controllers

@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
    
}
@foreach (var post in Model.Posts)
{
    
    <div class="post container"/>
    <h2>@post.Message</h2>
    <img src=@post.ImageUrl>
    <p>Posted at @post.PostedAt by @post.PostedBy.DisplayName</p>
}
