
﻿@using Microsoft.EntityFrameworkCore.Infrastructure
@using MyFace.Controllers
@using MyFace.Models.Database
@using MyFace.Models.View
﻿@using MyFace.Controllers

@model MyFace.Models.View.PostsViewModel
@{
    Layout = "_Layout";
    
}

<button id="modal-btn">Create post</button>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p>this is the text inside the modal</p>
        <form></form>
    </div>
</div>



<h1>All Posts Page</h1>
<ol class="post-stream">
    @{
        foreach (var post in Model.Posts)
        {
            <li  class="post-container">
                <div class="post-user-details">
                    <h2 class="post-title">@post.Message</h2>
                    <h3 class="post-user-title">Posted by @post.PostedBy.DisplayName</h3>
                    <p class="post-content-details">Posted at @post.PostedAt </p>
                    <img class="post-user-profile-pic" src=@post.PostedBy.ProfileImageUrl>
                </div>
                <div class="post-content">
                    <img class="post-content-pic" src=@post.ImageUrl>
                </div>
            </li>
        }
    }
</ol>

