
﻿@using Microsoft.EntityFrameworkCore.Infrastructure
@using MyFace.Controllers
@using MyFace.Models.Database
@using MyFace.Models.View
=======
﻿@using MyFace.Controllers

@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
    
}
@{ int i = 1;}
@foreach (var post in Model.Posts)
{
    
    <div class="post container"/>
    <h2>This is post number @i:
        @post.Message</h2>
    <img src=@post.ImageUrl>
    <p>Posted at @post.PostedAt by @post.PostedBy</p>
    i++;
}
