/*CSS for Posts Page*/
.post-stream {
    list-style : none;
    display : flex;
    flex-wrap : wrap;
    padding: 0px;
}

.post-container
{
    min-width: 300px;
    width: 450px;
    flex-grow: 1;
    position : relative;
    border: 1px solid red;
}

.post-user-profile-pic
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.post-content
{
    border: 1px solid blue;
    max-width: 99%;
    max-height: 100%;
}

.post-content-pic
{
    max-width:95%;
    height:;
    object-fit: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
